<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%=form_for :session do |f| %>
      <h2 class="form-signin-heading">Innlogging</h2>
      <input id="email" name="email" type="email" class="form-control" value="<%=@email%>"
             placeholder="E-postadresse" required="" autofocus="" >
      <br/>

      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Send innloggings e-post
      </button>
    <% end %>
  </div>
</div>
