  <h2>Driftsinntekter</h2>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Kontonavn Voice</th>
    <th>Regnskap 2014</th>
    <th>Budsjett 2015</th>
    <th>Kommentar</th>
  </tr>
  </thead>
  <tbody>

  <tr><th>Resultat 2013</th><td>36.314,11</td></tr>
  <tr><th>Medlemskontingent</th><td></td><td>37 innbetalte kontineenter, hvorav 1 oi kr 375</td></tr>
  <tr><th>Kreditrente</th><td></td><td></td></tr>
  <tr><th>Offentlig tilskudd</th><td>Lorenskos kommune driftstilskudd</td></tr>
  <tr><th>Annen støtte</th><td></td><td>Norsk tipping</td></tr>
  <tr><th>Støtte mannskoret</th><td></td><td></td></tr>
  <tr><th>Aksjonsintekter</th><td></td><td>Loddsalg</td></tr>
  <tr><th>Andre driftsinntekter</th><td></td><td>Ung i kor</td></tr>
  <tr><th>Konserter</th><td></td><td>Adventskonsert fra Lørenskog Mannskor</td></tr>

  <tr><th>Sum driftsinntekter</th><th></th><th></th></tr>
  </tbody>
  </table>


  <h2>Driftskostnader</h2>

  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Kontonavn Voice</th>
      <th>Regnskap 2014</th>
      <th>Budsjett 2015</th>
      <th>Kommentar</th>
    </tr>
    </thead>
    <tbody>

  <tr><th>Dirigenthonorar</th><td></td><td></td></tr>
  <tr><th>Honorar dirigentvikar</th><td></td><td></td></tr>
  <tr><th>Kontorrekvisita</th><td></td><td></td></tr>
  <tr><th>Trykking/kopiering/brosjyrer</th><td></td><td></td></tr>
  <tr><th>Noter</th><td></td><td></td></tr>
  <tr><th>IKT</th><td></td><td>Nettsted, medlemsregister, fakturering, regnskap.</td></tr>
  <tr><th>Porto/gebyrer</th><td></td><td></td></tr>
  <tr><th>Markedsføring</th><td></td><td></td></tr>
  <tr><th>Møter/tilstelninger</th><td></td><td></td></tr>
  <tr><th>Konserter</th><td></td><td></td></tr>
  <tr><th>Kontingenter</th><td></td><td>Lørenskog Musikkråd</td></tr>
  <tr><th>Årsmøte</th><td></td><td></td></tr>
  <tr><th>Brønnøysundregisteret</th><td></td><td></td></tr>

  <tr><th>Sum Driftskostnader</th><th></th><th></th></tr>

  <tr><th></th><td></td><td></td></tr>

  </tbody>
</table>
